:root {
    /* font-family:'Courier New', Courier, monospace; */
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.dev {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}
